<h1> Список покупок </h1>
<div>
  <p>
    <label>Товар</label><br>
    <input [(ngModel)]="text" />
  </p>
  <p>
    <label>Ціна</label><br>
    <input type="number" [(ngModel)]="price" />
  </p>
  <button (click)="addItem(text, price)">Додати</button>
</div>
<table>
  <thead>
    <tr>
      <th>Предмет</th>
      <th>Ціна</th>
      <th>Придбано</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of items; let i = index">
    <tr>
      <td> {{item.purchase}} </td>
      <td> {{item.price}} </td>
      <td>
        <input type="checkbox" [(ngModel)]="item.done" />
      </td>
    </tr>
  </tbody>
</table>
<div>
  <nav>
    <a routerLink="">Home</a>
    <a routerLink="/about">Privacy policy</a>
  </nav>
  <router-outlet></router-outlet>
</div>
<router-outlet></router-outlet>
